Description=Mars Rover WebApp Service
After=network.target pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/rover/server.py

[Install]
WantedBy=multi-user.target
