[Unit]
Description=pigpiod.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pigpiod -g
RestartSec=5
Restart=always
TimeoutSec=10
SuccessExitStatus=255

[Install]
WantedBy=multi-user.target rover.service
